 
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>Your Cinema</title>

	<!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/basic_style.css" />
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/1140.css" />
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/one_movie.css" />
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/forms.css" />
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/halls.css" />
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/event.css" />
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/users.css" />
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/performer.css" />


	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>
	

	<div class="wrapper">
        <div class="sidebar">
        
            <ul>
				{if $user->isLoggedIn() and $user->isInRole('admin')}
				<li><a href="{link UserManagment:list}"><i class="fas fa-users-cog"></i>Užívatelia</a></li>
				{/if}
				{if $user->isLoggedIn() and ($user->isInRole('admin') or $user->isInRole('cashier'))}
				<li><a href="{link Reservation:movieEventList}"><i class="fas fa-address-card"></i>Rezervácie</a></li>
				{/if}
				<li><a href="{link Homepage:default}"><i class="fas fa-home"></i>Domov</a></li>
				<li><a href="{link Movie:allMovies}"><i class="fas fa-film"></i>Filmy</a></li>
				<li><a href="{link HallList:hallList}"><i class="fas fa-chair"></i>Sály</a></li>
				<li><a href="{link Performer:list}"><i class="fas fa-address-card"></i>Účinkujúci</a></li>
            </ul> 
        </div>
    </div>

	<div class="main_content">
            <!-- HEADER -->
            <header class="head">
                <div class="row">
                    <div class="column4" id="header-logo">
                        <a href="{link Homepage:default}"><img src="{$basePath}/img/final_logo.png">
                    </div>                

                    <div class="column8">
                        <ul>
							{if $user->isLoggedIn()}
							<li class="log-link link"><a href="{link User:profile}">Môj profil</a></li>
                            <li class="reg-link link"><a href="{link Sign:out}">Odhlásenie</a></li>
							{else}
                            <li class="log-link link"><a href="{link Sign:in}">Prihlásenie</a></li>
                            <li class="reg-link link"><a href="{link Sign:up}">Registrácia</a></li>
							{/if}
                        </ul>
                    </div>
                </div>
            </header>

            <hr class="new">
            
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
</body>
</html>