#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\Presenters\*Presenter


session:
	expiration: 14 days


database:
	dsn: 'mysql:host=127.0.0.1:3307;dbname=cinema'
	user: root
	password:
	options:
		lazy: yes


services:
	- App\Model\WorkManager
	- App\Model\UserManager
	- App\Model\EventManager
	- App\Model\HallManager
	- App\Forms\FormFactory
	- App\Forms\NewEventFormFactory
	- App\Forms\NewHallFormFactory
	- App\Forms\DeleteFormFactory
	- App\Forms\NewWorkFormFactory
	- App\Forms\SignInFormFactory
	- App\Forms\SignUpFormFactory
	router: App\Router\RouterFactory::createRouter


security:
	roles:
		viewer:
		redactor: [viewer]
		cashier: [viewer]
		admin: [redactor]
