{block content}
	{if $user->isLoggedIn() and ($user->isInRole('redactor') or $user->isInRole('admin'))}
		<p class="pull-right"><a class="admin-button" href="{link Movie:add}">Pridať film</a></p>
	{/if}

	

	{if count($movies) != 0}
	<div class="row">
        <h1 class="cinema-title">Zoznam filmov</h1>
    </div>
	<div class="show-block">
	<table class="user-table">
        <thead>
        <tr>
            <th>Názov</th>
            <th>Žáner</th>
			<th>Hodnotenie</th>
        </tr>
        </thead>
		
        <tbody>
			{foreach $movies as $movie}
                <tr>
                    <td><a class="username" href="{link Movie:show $movie->id_piece_of_work}">{$movie->name}</a></td>
                    <td class="other-columns">{$movie->genre}</td>
					{if $movie->rating == null}
					<td class="other-columns">N/A</td>
					{else}
					<td class="other-columns">{$movie->rating}%</td>
					{/if}

                </tr>
			{/foreach}
        </tbody>
    </table>
	</div>
	{else}
		<h1 class="cinema-title">Momentálne sa v databáze nenchádzajú žiadne filmy</h1>
	{/if}
{/block}