{block content}
    <img class="one-movie-image" src={$actualPic}>
    <a class="gallery" href="{link Movie:gallery $workID, $nextPic}">
        Next
    </a>
    <a class="gallery" href="{link Movie:gallery $workID, $prevPic}">
        Previous
    </a>
    <a class="gallery" href="{link Movie:show $workID}">
        Späť na film
    </a>




{/block}