{block content}
<div class="main-block-register" align="center">
    <h2>Nová sála</h2>
    {control newHallForm}
    <div class="row">
        <p>Údaje označené s hviezdičkou (*) sú povinné</p>
    </div>
</div>
{/block}