{block content}
    {if $user->isLoggedIn() and ($user->isInRole('redactor') or $user->isInRole('admin'))}
		<p class="pull-right"><a class="admin-button" href="{link HallList:delete $hall->hall_num}">Zmazať sálu</a></p>
	{/if}

    <h1>Sála {$hall->hall_num}</h1>
    
    <div class="hall-view">
        <div class="screen">
            Plátno
        </div>
        {for $row=1; $row <=$hall->number_of_rows; $row++}
            <div class="row">
                <div class="column">
                    <div class="row2">
                        <h3>Rad: {$row}</h3>
                    </div>
                </div>
                {for $column=1; $column <= $hall->number_of_columns; $column++}
                    <div class="column">
                        <div class="seat-in-list">
                            {$column}
                        </div>
                    </div>

                {/for}
                <div class="column">
                    <div class="row2">
                        <h3>Rad: {$row}</h3>
                    </div>
                </div>
            </div>
        {/for}
    </div>
    
{/block}