{block content}
    <div class="main-block-register" align="center">
        {control editForm}

        <div class="row">
            <p>Údaje označené s hviezdičkou (*) sú povinné</p>
        </div>
    </div>
{/block}