{block content}
    <div class="main-block-register" align="center">
    {control addForm}
    <div class="row">
        <p>Údaje označené s hviezdičkou (*) sú povinné</p>
    </div>
    </div>
{/block}