{block content}
<div class="main-block-register">
    {if $one_performer}
        <h1 align="center">Profil herca</h1>
        <h2>Meno: {$one_performer->name}</h2>
        <h2>Priezvisko: {$one_performer->surname}</h2>
        <br>
        <p>Účinkuje v:</p>
    {/if}
</div>
{/block}