{block content}
    <div class="main-block-register" align="center"">
        <h2>Rezervácia bola úspešne zmazaná</h2>
        <p><a href="{link Reservation:oneEvent $event_id}">Naspäť na zoznam rezervácií</a><p>
    </div>
{block}