{block content}
    {if $event_count != 0}
        <div class="main-block-register">
            <h1 align="center">Zoznam filmov s udalosťami</h1>
            {foreach $events as $event}
                <p><a href="{link Reservation:eventList $event->id_piece_of_work}">{$event->name}</a></p>
            {/foreach}
        </div>
    {else}
        <h1 align="center">Momentálne neexistujú žiadne udalosti</h1>
    {/if}
{/block}