{block content}

<div class="main-block-register" align="center">
{if $current_user}
    <p>Určite chcete zmazať profil užívateľa {$current_user->username}?</p>
{else}
    <p>Účet nenájdený<p>
{/if}
    {control deleteForm}
</div>

{/block}