{block content}
<div class="main-block-register" align="center">
    <h2>Nová udalosť</h2>
    {control newEventForm}
    <div class="row">
        <p>Údaje označené s hviezdičkou (*) sú povinné</p>
    </div>
</div>
{/block}