{block content}
    <div class='eventHeaderContainer'>
        <div>
            <h1>Platba kartou prebehla úspešne</h1>
        </div>

        <a href='{link Event:reserveSuccess $reservation}'>
            <button class='form-button'>
                Pokračovať
            </button>
        </a>
    </div>
{/block}