{block content}
    <div class='eventHeaderContainer'>
        <div>
            Mrzí nás to, ale Vaše vybrané sedadlá už zabral niekto iný.<br>
            Skúste to ešte raz.
        </div>

        <a href="{link Event:show $event}">
            <button class='form-button'>
                Späť k výberu sedadiel
            </button>
        </a>
    </div>
{/block}