{block content}

<div class="main-block-register" align="center">
    <div class="row">
        <h1 n:block=title class="form-title">Prihlásenie</h1>
    </div>


    <div class="row">
        {control signInForm}
    <div>


    <div class="row">
        <p>Údaje označené s hviezdičkou (*) sú povinné</p>
        <p><a n:href="up">Ešte nemáte účet? Registrujte sa!</a></p>
    </div>
    
</div>
{/block}
