{block content}

<div class="main-block-register" align="center">
    <div class="row">
        <h1 n:block=title>Boli ste úspešne prihlásený</h1>
        <p><a class="admin-button" n:href="Homepage:default">Naše novinky</a></p>
    </div>
</div>
{/block}