{block content}

<div class="main-block-register" align="center">
    <div class="row">
        <h1 n:block=title>Boli ste odhlásený.</h1>
        <p><a n:href="in">Prihlásiť sa z iného účtu</a></p>
    </div>
</div>
{/block}
