{block content}
<div class="main-block-register" align="center">
    <div class="row">
        <h1 n:block=title>Boli ste odhlásený z dôvodu neaktivity</h1>
        <p><a class="admin-button" n:href="in">Prihlásiť sa</a></p>
    </div>
</div>
{block}