{block content}

<div class="main-block-register" align="center">
    <div class="row">
        <h1 n:block=title>Registrácia</h1>
    </div>

    <div class="row">
        {control signUpForm}
    </div>

    <div class="row">
        <p>Údaje označené s hviezdičkou (*) sú povinné</p>
        <p><a n:href="in">Už máte účet? Prihláste sa!</a></p>
    </div>
</div>
