{block content}

<div class="main-block-register" align="center">
    <div class="row">
        <h1 n:block=title>Registrácia prebehla úspešne</h1>
        <p><a class="admin-button" n:href="in">Môžete sa prihlásiť</a></p>
    </div>
</div>
{/block}
