.main-block-register{
    margin:40px;
    background-color: #D1D7E0;
    border-radius: 12px;
    border: solid #636b6f 3px;
    padding:30px;
    font-size: 20px;
}

.form-title{
    font-size: 35px;
    align-content: center;
}

.pull-right{
    float:right;
}

.pull-left{
    float:left;
}

.form-button{
    background-color:rgb(73, 73, 73);
    color: #D1D7E0;
    padding: 8px;
    font-size: 0.7em;
    border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 2px;
    margin-right: 2px;
}

.form-button:hover{
    color: #fff;
    background-color:#131313;
    cursor: pointer;
}

.form-text{
    background: #fff;
    font-family: 'Nunito', sans-serif;
    color: black;
    border-radius: 6px;
    font-weight: 550;
    padding:5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    margin-bottom: 3px;
    width: 165px;
}

.form-text-description{
    padding: 8px;
    background: #fff;
    font-family: 'Nunito', sans-serif;
    color: black;
    border-radius: 6px;
    font-weight: 550;;
    box-sizing: border-box;
    border: 2px solid #ccc;
    margin-bottom: 3px;
    height: 150px;
    width: 300px;
    text-align: left;
    line-height: 1em;

}

table{
    padding: 15px;
}

table tbody tr th{
    float:right;
    margin-right: 8px;
}