.main-block-register{
    margin:40px;
    background-color: #D1D7E0;
    border-radius: 12px;
    border: solid #636b6f 3px;
    padding:30px;
    font-size: 20px;
}

.form-title{
    font-size: 35px;
    align-content: center;
}

.pull-right{
    float:right;
}

.pull-left{
    float:left;
}