.one-movie-container{
    margin:40px;
    background-color: #D1D7E0;
    border-radius: 12px;
    border: solid #636b6f 3px;
    padding:30px;
}

.one-movie{
    text-align: center;
    margin: 20px;
  }
  
.one-movie-image{
    width: 250px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}

.one-movie-title{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.one-movie-description p{
    padding-left: 30px;
    padding-right: 30px;
}

.one-movie-description h2{
    padding-left: 30px;
    padding-right: 30px;
}

.event{
    margin-top: 30px;
    margin-left: 30px;
    border: none;
    background-color: #1dc0fd;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    color: #3f4547;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
}

.event:hover{
    background-color:#205ed1; 
    color: #D1D7E0;
}