.role-button{
    text-decoration: none;
    color:  #D1D7E0;
    padding:10px;
    background-color: #1dc0fd;
    border-radius:12px;
    font-family: 'Nunito', sans-serif;
    color: #3f4547;
}

.role-par{
    padding: 15px;
    margin:auto;
}

.role-button:hover{
    background-color:#205ed1; 
    color: #D1D7E0;
}

.user-table {
    width: 100%;
    table-layout: fixed;
    border-collapse:collapse;
    padding:5px;
}
.user-table th {
    padding:5px;
}
.user-table td {
    width: 33%;
    padding:5px;
}

.performer-table{
    width: 100%;
    table-layout: fixed;
    border-collapse:collapse;
    padding:5px;
}

.performer-table th {
    padding:5px;
}

.performer-table td {
    width: 50%;
    padding:5px;
}

.other-columns{
    text-align: center;
}

.username{
    text-decoration: none;
    color:#3f4547;
}

.username:hover{
    padding: 4px;
    border-radius: 12px;
    background: #205ed1;
    color: #D1D7E0;
}

.delete-user-button{
    text-decoration: none;
    background-color: #1dc0fd;
    color:  #D1D7E0;
    margin: 5px;
    border-radius: 50%;
    color: #3f4547;
    border:none;
    padding: 2px;
}

.delete-user-button:hover{
    background-color:#205ed1; 
    color: #D1D7E0;
}

.res-container{
    margin:40px;
    display: flex;
    background-color: #D1D7E0;
    border-radius: 12px;
    border: solid #636b6f 3px;
    padding:30px;
    text-decoration: none;
    color: #3f4547;
}

.res-container:hover{
    background-color: #205ed1;
    color:#D1D7E0;
    border: solid #3f4547 3px;
}

.res-legend-container{
    margin:40px;
    display: flex;
    background-color: rgb(236, 239, 243);
    border-radius: 12px;
    border: solid #636b6f 2px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    text-decoration: none;
    color: #3f4547;
}

.res-num{
    text-align: left;
    width: 100px;
    vertical-align: middle;
}

.res-next{
    text-align: left;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}